@charset "utf-8";
body.metherapy
{
    font-size:   12px;
    font-weight: normal;
    font-family: Chalkduster, Arial, Helvetica, Clean, sans-serif;
}

a.metherapy_button
{
    font-weight: bold;
}

#metherapy_menu_title00
{
    font-weight: bold;
}

p.metherapy_menutext
{
    font-weight: bold;
}

p.metherapy_title
{
    font-size: 128px;
    font-weight: bold;
}
