@charset "utf-8";
body, h2, footer, #contactgegevens
{
    font-weight: normal;
/*    font-family: Chalkduster, Arial, Helvetica, Clean, sans-serif;*/
}
body
{
    font-size: 32px;
}
h2
{
    font-size: 64px;
}
h3
{
    font-size: 24px;
}
footer
{
    font-size: 32px;
}
#contactgegevens
{
    font-size: 48px;
}
#header figure
{
    font-size: 44px;
}
#header h2
{
    font-size: 58px;
}
#oprichter
{
    font-size: 48px;
}
#zorgvraag .content
{
    font-size: 28px;
}
