body.Bee_Body_MeTherapy
{
    color:       #000000;
    font-size:   12px;
    font-weight: normal;
    font-family: Chalkduster, Arial, Helvetica, Clean, sans-serif;
    background-image: url("../images/Background_MeTherapy.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

p.metherapy_copyright
{
    position: absolute;
    left: 350px;
    top: 590px;
    color: #FFFFFF;
}

p.metherapy_title
{
    position: absolute;
    left: 400px;
    top: 300px;
    color: #F488CA;
    font-size: 128px;
    font-weight: bold;
}

p.metherapy_menutext
{
    position: absolute;
    left: 240px;
    top: 105px;
    width: 300px;
    z-index: 2;
    font-weight: bold;
}

p.metherapy_home_tekst
{
    position: absolute;
    left: 339px;
    top: -8px;
    width: 300px;
    font-weight: bold;
}

img[src='']
{
    display: none;
}

img.metherapy_home_icon
{
    position: absolute;
    width: 50px;
    left: 300px;
    top: 0px;
}

img.metherapy_title
{
    position: absolute;
    width: 550px;
    left: 400px;
    top: 450px;
}

img.metherapy_logo
{
    position: absolute;
    width: 100px;
    left: 280px;
    top: 375px;
    z-index: -1;
}

img.metherapy_foto
{
    position: absolute;
    width: 250px;
    left: 700px;
    top: 10px;
    z-index: -1;
}

img.metherapy_contact
{
    position: absolute;
    width: 200px;
    left: 40px;
    top: 550px;
    z-index: -1;
}

img.metherapy_menu_left_Border
{
    position: absolute;
    width: 620px;
    left: 0px;
    top: -18px;
    z-index: -1;
    transition: all .2s ease-in-out;
}

img.metherapy_menu_left
{
    position: absolute;
    width: 600px;
    left: 0px;
    top: 0px;
    z-index: -1;
    transition: all .2s ease-in-out;
}

img.metherapy_menu_background
{
    position: absolute;
    width: 600px;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: all .2s ease-in-out;
}

a.metherapy_button
{
    position: absolute;
    display: inline-block;
    text-decoration: none;
    color: #EEDEE5;
    font-weight: bold;
    transition: all .2s ease-in-out;
    height: 24px;
}

a.metherapy_button:hover
{
    transform: scale(1.1);
}

a.metherapy_button:active
{
    color: #FFFFFF;
}

a.metherapy_button img
{
    height:24px;
}

a.metherapy_button.MeTherapy_1
{
    left: 135px;
    top: 30px;
    z-index: 1;
}

a.metherapy_button.MeTherapy_2
{
    left: 135px;
    top: 88px;
    z-index: 2;
}

a.metherapy_button.MeTherapy_3
{
    left: 135px;
    top: 146px;
    z-index: 3;
}

a.metherapy_button.MeTherapy_4
{
    left: 135px;
    top: 204px;
    z-index: 4;
}

a.metherapy_button.MeTherapy_5
{
    left: 135px;
    top: 262px;
    z-index: 5;
}

blockquote.metherapy_compensation
{
    font-size: 14px;
    position: absolute;
    width: 378px;
    left: 530px;
    top: 300px;
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.3);
    text-align: center;
}

blockquote.metherapy_compensation a
{
    color: #FFFFFF;
}

aside
{
    position: absolute;
    left: 565px;
    top: 350px;
}

aside img.metherapy_rand
{
	border: 1px dotted #663366;
}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px)
{
    img.metherapy_logo
    {
        position: absolute;
        width: 60px;
        left: 295px;
        top: 430px;
        z-index: -1;
    }
}
